---
import { DateTime } from "luxon";

import BaseHead from '../components/BaseHead.astro';
import Note from '../components/Note.astro';

interface MarkdownFrontmatter {
  publish_date: number;
}

let title = 'Learning Journal | Fleeting Notes';
let description = `My digital garden to log notes from things i've read, watched and listened to.`;
let permalink = 'https://learning.chiubaca.com/fleeting-notes';


let fleetingNotes = Astro.fetchContent<MarkdownFrontmatter>('./fleeting-notes/*.md');
fleetingNotes = fleetingNotes.sort((a, b) =>  DateTime.fromISO(b['publish_date']).ts - DateTime.fromISO(a['publish_date']).ts);

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <div class="layout">
      <article>
        <section>
          <p><a href="/">/🏠Home</a> / fleeting-notes </p>
          <h1>Fleeting Notes</h1>
          <p>Daily thoughts and notes...</p>
          <hr />
          {fleetingNotes.map(p => <Note note={p} />)}
        </section>
      </article>
    </div>
  </body>
</html>
